*.tmp
variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
infra-265717-a32f80d8cfce.json
*.retry
jdauphant.nginx
*.key
##### Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
__pycache__
run_molecule_*
docker-271613-bf1d38124250.json
.env
build_info.txt
docker3-273507-fc2bf2a8ea9b.json
export.sh
.coverage
